<header class="header" role="banner">
    <div class="lockup">

        <a href="/">
            <span class="site-name">Michael The Dev</span>
        </a>
    </div>
    <nav class="primary-nav">
        <nav class="primary-nav">
            <ul>
                <li><a href="/" class="nav-link{% if page.url == '/' %} active{% endif %}">Home</a></li>
                <li><a href="/about" class="nav-link{% if page.url == '/about/' %} active{% endif %}">About</a></li>
                <li><a href="/notes" class="nav-link{% if page.url == '/notes/' %} active{% endif %}">Notes</a></li>
                <li><a href="/uses" class="nav-link{% if page.url == '/uses/' %} active{% endif %}">Uses</a></li>
            </ul>
        </nav>

    </nav>
</header>